VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_CONTACT_TEMPLATE_ID=your_contact_template_id
VITE_EMAILJS_ELIGIBILITY_TEMPLATE_ID=your_eligibility_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_CONTACT_EMAIL=contactus@overseasgateway.com
VITE_WHATSAPP_NUMBER=9949998351
VITE_INSTAGRAM_URL=https://www.instagram.com/
VITE_FACEBOOK_URL=https://www.facebook.com/
VITE_LINKEDIN_URL=https://www.linkedin.com/
VITE_YOUTUBE_URL=https://www.youtube.com/
