VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_CONTACT_TEMPLATE_ID=your_contact_template_id
VITE_EMAILJS_ELIGIBILITY_TEMPLATE_ID=your_eligibility_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_CONTACT_EMAIL=contactus@overseasgateway.com
VITE_WHATSAPP_NUMBER=9949998351
